@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

/* scrollbar  */

/* width */
::-webkit-scrollbar {
  border-radius: 20px;
  width: 12px;
  transition-duration: 300ms;


}

/* Track */
::-webkit-scrollbar-track {
  background: white;

}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #B39FFC;
  transition-duration: '0.3s';
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8a6bfc;
}

/* timeline css */

.timeline {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.timestamp {
  margin-bottom: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 4px dashed #ead8b8;
}

.status {
  margin-top: 30px;
  width: 200px;
  display: flex;
  align-items: 'center';
  justify-content: center;
  position: relative;
  transition: all 200ms ease-in;
}
#last {
  border-bottom: none;
}

.boo-1 {
  offset-path: path(
    "M 260 12 C 142 17 15 99 30 214 C 37 330 120 382 223 401 C 362 408 432 307 429 228 C 434 92 302 43 270 48 C 177 36 86 95 81 160 C 64 272 96 339 235 368"
  );
}

.boo-2 {
  offset-path: path(
    "M 233 465 C 328 432 421.5 346 421.5 235.5 C 421.5 125 344 41 223 43 C 108 41 26 148 28 238 C 36 357 168 406 237 415 C 293 413 384 354 402 257 C 406 177 374 110 324 83"
  );
}

.boo-3 {
  offset-path: path(
    "M 307 424 C 410 306 431 248 359 122 C 248 8 131 2 17 96 C -80 218 -42 399 139 417"
  );
}




@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .timestamp {
    width: 100px;
    border-bottom: none;
  }
}